:root{
    --primary-color:#3684fd;
    --primary-color-light: #b5ddff;

    --secondary-color: #9792e4;

    --fine-colore: #333333;

    --text-color: #000;
    --white-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*regole comuni*/
.container{
    max-width: 600px;
    margin: auto;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.mb-30px{
    margin-bottom: 30px;
}



/*inizio header*/
header{
    background-color: var(--primary-color);
}

.container{
    padding: 0 10px;
}

.container .logo, .container .menu{
    height: 80px;
    background-color: var(--secondary-color);
}

/*fine header*/


/*inizio main*/
.container .card{
    background-color: var(--primary-color);
    margin: 1rem 0.5rem;
    border-radius: 10px;
    padding: 15px;
}

.strategic{
    background-color: var(--secondary-color);
}

.strategic .column{
    margin: 2rem 1rem;
}

.partners .card{
    background-color: var(--secondary-color);
}

.benefit {
    background-color: var(--secondary-color);
    padding: 1rem 0;
}

.benefit .card{
    background-color: var(--white-color);
    color: var(--secondary-color);
}

.about-us .container{
    padding: 0 1rem;
}

.transparent{
    background-color: var(--secondary-color);
}

.transparent .container{
    width: 80%;
    text-align: center;
}
/*fine main*/


/*inizio footer*/
footer{
    background-color: var(--fine-colore);
    text-align: center;
}

.footer .container{
    width: 70%;
    
}

/*fine footer*/




/*inizio media*/

@media screen and (min-width: 768px) {
    .container{
        max-width: 740px;
    }

    .container-card{
        flex-wrap: wrap;
        display: flex;
    }

    .container-card .card:first-child{
        display: flex;
        width: calc(66% - 1rem);
    }

    .container-card .card{
        width: calc( 33% - 1rem);
    }

    .strategic .container{
        display: flex;
    }

    .strategic .column{
        width: 50%;
    }

    .partners .card{
        display: flex;
    }

    .benefit .container{
        display: flex;
        flex-wrap: wrap;
    }

    .benefit .card{
        width: calc((100% - 2rem ) / 2);
    }

    .about-us .container{
        display: flex;
    }

    .about-us .text{
        width: 60%;
        
    }

    .about-us .profilo{
        width: 40%;
    }

    .transparent .container{
        width: 80%;
    }

    
}


@media screen and (min-width: 992px) {
    .container{
        max-width: 950px;
    }

    .benefit .card{
        width: calc((100% - 4rem) / 3);
    }

    .transparent .container{
        width: 70%;
    }

}