:root{
    --primary-color:#3684fd;
    --primary-color-light: #b5ddff;

    --secondary-color: #9792e4;

    --fine-colore: #333333;

    --text-color: #000;
    --white-color: #fff;
    --text-first-section: #696969;
    --text-end-section: #fdc15f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/*******************
Regole btn
********************/
.btn-radius{
    border-radius: 15px;
    padding: 8px 8px;
    border: none
}

.btn-white{
    background-color: var(--white-color);
    color: var(--text-color);
}

.btn-violet{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.btn-blu{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 17px;
    padding: 5px 20px;
}



/*********************
Regole comuni
**********************/
.container{
    max-width: 600px;
    margin: auto;
} 

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.mb-30px{
    margin-bottom: 30px;
}

.mr-10px{
    margin-right: 10px;
}

.m-top-bot20px{
    margin: 20px 0;
}

.mt-20px{
    margin-top: 20px;
}


/**********************
Inizio header
***********************/
header{
    background-color: var(--primary-color);
    height: 80px;
}

.container{
    padding: 0 10px;
}

.container .menu ul{
    display: none;
}

.container .logo, .container .menu{
    line-height: 80px;
    padding: 0 10px;
}

.container .menu i{
    color: var(--white-color);
}

/*fine header*/


/**********************
Inizio main
***********************/
    /*Prima sezione*/

.container .card{
    background-color: var(--primary-color-light);
    color: var(--text-first-section);
    margin: 1rem 0.5rem;
    border-radius: 10px;
    padding: 15px 40px;
}

.container-card .card:first-child .content{
    width: 100%;
    text-align: left;
}

.container-card .card{
    text-align: center;
}

.container-card h1, .container-card i{
    color: var(--primary-color);
}

.container-card .card:first-child i{
    color: var(--white-color);
}

    /*seconda sezione*/
.strategic{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.strategic .column{
    margin: 2rem 1rem;
}

    /*terza sezione*/
.partners .card{
    background-color: var(--secondary-color);
}

.partners h6, .partners h1, .partners p{
    text-align: center;
}

.partners h1{
    color: var(--secondary-color);
}

.partners .card{
    color: var(--white-color);
}

   

    /*quarta sezione*/
.benefit {
    background-color: var(--secondary-color);
    padding: 1rem 0;
}

.benefit > h1{
    color: var(--white-color);
    text-align: center;
    font-size: 40px;
}

.benefit .card{
    background-color: var(--white-color);
    color: var(--secondary-color);
}

.benefit .card h1{
    font-size: 70px;
}

.benefit .card p{
    color: var(--text-first-section);
}

    /*quinta sezione*/
.about-us .container{
    padding: 0 1rem;
}

.about-us .text h1{
    color: var(--secondary-color);
}
    /*sesta sezione*/
.transparent{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.transparent .container{
    width: 80%;
    text-align: center;
    padding: 40px 0;
}

.transparent .container h1{
    color: var(--text-end-section);
    font-size: 70px;
}

.transparent .container button{
    padding: 10px 40px;
    color: var(--secondary-color);
}

/*fine main*/


/*********************
Inizio footer
**********************/
footer{
    background-color: var(--fine-colore);
    text-align: center;
}

.footer .container{
    width: 70%;
    
}

/*fine footer*/




/****************
inizio media
****************/

/*TABLET*/

@media screen and (min-width: 768px) {
    /*Prima sezione*/
    .container{
        max-width: 740px;
    }

    .container-card{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        
    }

    .container-card .card:first-child{
        display: flex;
        width: calc(66% - 2rem);
    }

    .container-card .card{
        width: calc( 33% - 2rem);
    }

    /*Seconda sezione*/
    .strategic .container{
        display: flex;
    }

    .strategic .column{
        width: 50%;
    }

    /*Terza sezione*/
    .partners .card{
        display: flex;
    }

    /*Quarta sezione*/
    .benefit .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefit .card{
        margin-left: 0;
        width: calc( (100% - 2rem ) / 2 );
    }

    /*Quinta sezione*/
    .about-us .container{
        display: flex;
    }

    .about-us .text{
        width: 60%;
        
    }

    .about-us .profilo{
        width: 40%;
    }

    /*Sesta sezione*/
    .transparent .container{
        width: 80%;
    }

    
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .container{
        max-width: 950px;
    }
    
    .container .menu ul{
        display: flex;
        list-style: none;
    }

    .container .menu ul li{
        padding-left: 20px;
        color: var(--white-color);
    }


    .benefit .card{
        width: calc( ( 100% - 3rem ) / 3 );
    }

    .transparent .container{
        width: 70%;
    }

}